* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-family: 'Axiforma';
  transition: .2s;
  scroll-behavior: smooth;
}

body {
  width: 420px;
  height: 540px;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
}

.app_width {
  width: 400px;
  max-width: calc(100% - 30px);
}

button:hover {
  transform: translateX(-3px);
  transform: translateY(-3px);
  box-shadow: 3px 3px var(--tx-dimmed);
}