* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-family: 'Axiforma';
  transition: .2s;
  scroll-behavior: smooth;
}

section {
  display: flex;
  justify-content: center;
}

.app_width {
  width: 1400px;
  max-width: calc(100% - 40px);
}

button {
  cursor: pointer;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
  color: var(--tx-dimmed);
  gap: 10px;
  text-align: center;
  padding: 100px 40px;
  border-radius: 0 0 16px 16px;
}

.empty img {
  height: 50px;
  filter: brightness(50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.video-js .vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  border: none !important;
  border-radius: 100% !important;
  outline: 0 !important;
  height: 3em !important;
  width: 3em !important;
  background-color: transparent
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  top: 50% !important;
  left: 50% !important;
  width: auto !important;
  height: auto !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  font-size: 3em
}

.video-js .vjs-fullscreen-control {
  display: none
}

.video-js .vjs-custom-fullscreen {
  position: absolute !important;
  top: 15px !important;
  right: 19px !important;
  width: 30px !important;
  height: 30px !important;
  background-color: rgba(43, 51, 63, 0.25) !important;
  z-index: 9 !important;
  outline: none !important;
  cursor: pointer
}

.video-js .vjs-custom-fullscreen:before {
  font-family: VideoJS !important;
  font-weight: normal !important;
  font-style: normal !important;
  content: "\f108" !important;
  font-size: 2em !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%)
}

.video-js .vjs-progress-control,
.video-js .vjs-remaining-time,
.video-js .vjs-play-control,
.video-js .vjs-volume-panel {
  background-color: #707070 !important;
  outline: 0
}

.video-js .vjs-progress-control .vjs-icon-placeholder:before,
.video-js .vjs-remaining-time .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-volume-panel .vjs-icon-placeholder:before {
  top: 50% !important;
  height: auto !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%)
}

.video-js .vjs-seek-to-live-control {
  display: none !important;
  background-color: #707070
}

.video-js .vjs-progress-control .vjs-progress-holder {
  background-color: #B5B5B5
}

.video-js .vjs-progress-control .vjs-progress-holder .vjs-load-progress div {
  background-color: #BDBDBD
}

.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress {
  background: none
}

.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress:before {
  top: -5px !important;
  font-size: 1.4em
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.2em
}

.video-js .vjs-play-control {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px
}

.video-js .vjs-remaining-time {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px
}

.video-js .vjs-control-bar {
  width: calc(100% - 32px) !important;
  height: 40px !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  bottom: 50px !important;
  border-radius: 6px !important;
  opacity: 0.25
}

.video-js .vjs-volume-panel-horizontal,
.video-js .vjs-remaining-time {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center
}

.video-js .vjs-volume-panel-horizontal .vjs-remaining-time-display,
.video-js .vjs-remaining-time .vjs-remaining-time-display {
  font-size: 12px
}

.video-js button.vjs-chapters-button {
  display: none
}

.video-js div.vjs-chapters-button {
  position: absolute !important;
  left: 50% !important;
  bottom: 55px !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  height: 8px !important;
  width: auto !important;
  z-index: 9
}

.video-js div.vjs-chapters-button .vjs-menu {
  display: block !important;
  position: relative !important;
  bottom: initial !important;
  left: initial !important;
  width: auto !important;
  height: 100% !important;
  margin-bottom: 0 !important;
  border-top-color: none
}

.video-js div.vjs-chapters-button .vjs-menu.vjs-hidden {
  display: block !important
}

.video-js div.vjs-chapters-button .vjs-menu .vjs-menu-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative !important;
  max-height: initial !important;
  height: 100% !important;
  bottom: initial !important;
  background-color: none !important;
  background-color: transparent
}

.video-js div.vjs-chapters-button .vjs-menu .vjs-menu-content .vjs-menu-title {
  display: none
}

.video-js div.vjs-chapters-button .vjs-menu .vjs-menu-content .vjs-menu-item {
  width: 89px !important;
  padding: 0 !important;
  background-color: #707070 !important;
  opacity: 0.6 !important;
  outline: 0
}

.video-js div.vjs-chapters-button .vjs-menu .vjs-menu-content .vjs-menu-item:not(:first-child):not(:nth-child(2)) {
  margin-left: 17px
}

.video-js div.vjs-chapters-button .vjs-menu .vjs-menu-content .vjs-menu-item.vjs-selected {
  background-color: #FFD800 !important;
  opacity: 1
}

.video-js div.vjs-chapters-button .vjs-menu .vjs-menu-content .vjs-menu-item .vjs-menu-item-text {
  display: none
}

.video-js.vjs-user-inactive .vjs-custom-fullscreen,
.video-js.vjs-user-inactive .vjs-chapters-button {
  visibility: hidden
}

.video-js.vjs-fluid {
  height: 100% !important;
}

.load_frame {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stream .live {
  width: 74px;
  height: 26px;
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 1;
  height: 24px;
  border-radius: 4px;
  background: var(--primary-light);
  font-size: 14px;
  font-weight: 500;
  color: var(--tx-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.live svg {
  width: 18px;
  height: 18px;
}